*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}

main{
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    background-color: rgb(222, 222, 222);
}


main section{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.intro{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.intro span{
    font-size: 1.5em;
    color: hsl(212, 6%, 44%);
}

.intro h1{
    font-size: 1.5em;
    color: hsl(236, 10%, 33%);
}

.intro p{
    margin-top: 1em;
    letter-spacing: 0.08em;
    line-height: 1.1em;
    color: hsl(210, 7%, 32%);
}


main section article{
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding: 2em 1.2em; 
    background-color: white;
    border-radius: 10px;
    min-width: 350px;
}

main section article:first-child{
    border-top: 6px solid hsl(0, 78%, 62%);
    
}

main section article:nth-child(2){
    border-top: 6px solid hsl(180, 62%, 55%);
    
}

main section article:nth-child(3){
    border-top: 6px solid hsl(34, 97%, 64%);
   
}

main section article:nth-child(4){
    border-top: 6px solid hsl(169, 82%, 54%);
    
}

main section article img{
    align-self: flex-end;
    width: 5em;
}


article h2{
    font-size: 1.5em;
    color: hsl(234, 12%, 34%);
}

article p{
    margin-top: 1em;
    letter-spacing: 0.05em;
    line-height: 1.05em;
    color: hsl(212, 6%, 44%);
}


@media screen and (min-width:600px) and (max-width:1240px) {
    main{
        padding: 2.5em 10em;
        gap: 2.5em;
    }
    .intro{
        gap: 0.5em;
    }
}

@media screen and (min-width:1241px) {
    main section{
        flex-direction: row;
    }

    main section article{
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 1em 0.6em; 
        background-color: white;
        border-radius: 10px;
        width: 350px;
        
    }

     main section article:first-child{
         position: absolute;
         top: 15em;
         left: 9.3%;
      
     }
  
      main section article:nth-child(2){
         position: absolute;
         left: 38%;
         
      }
      
      main section article:nth-child(3){
          position: absolute;
          top: 25em;
          left: 38%;
      }
      
      main section article:nth-child(4){
          position: absolute;
          top: 15em;
          right:8%;
      }

      article h2{
          font-size: 1.2em;
          color: hsl(234, 12%, 34%);
      }

      article p{
          margin-top: 0.6em;
          letter-spacing: 0.01em;
          line-height: 1.05em;
          color: hsl(212, 6%, 44%);
      }

}